.swiper1 {
    /* padding-top: 6rem !important; */
    display: flex !important;
    justify-content: center !important;
}

 .swiper-pagination1 {
    /* position: absolute !important; */

    left: 0 !important;
    top: -2rem !important;
    text-align: left !important;
}

.swiper-pagination1 .swiper-pagination-bullet {
    background-color: transparent !important;
    color: #D0D6F9 !important;
    padding: 1.5rem 0.315rem !important;
    border-radius: 0 !important;
    width: auto !important;
    text-align: center !important;
    height: 1.5rem !important;

    line-height: 1.5rem !important;
}

.swiper-pagination1 .swiper-pagination-bullet-active {
    background-color: transparent !important;
    color: #FFF !important;
}

.swiper-pagination1 .swiper-pagination-bullet:hover {
    border-bottom: 2px solid white;
} 

@media screen and (max-width: 768px) {
    .swiper-pagination1{
        text-align: center !important;
        font-size: 1rem;
        line-height: 1rem;        
        letter-spacing: 2.3625px;
    }
}

@media screen and (max-width: 1200px) {
    .swiper-pagination1 {
            text-align: center !important;
            font-size: 1rem;
            line-height: 1rem;
            letter-spacing: 2.7px;
        }

}

@media screen and (min-width: 1024px) {
    .swiper1 .swiper-slide {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
        }
}