/* .swiper {
    padding-top: 6rem !important;
}

.swiper-pagination {
    position: absolute !important;
    left: 0 !important;
    top: -2rem !important;
    text-align: left !important;
}

.swiper-pagination-bullet {
    background-color: transparent !important;
    color: #D0D6F9 !important;
    padding: 30px 5px !important;
    border-radius: 0 !important;
    width: auto !important;
    text-align: center !important;
    height: 30px !important;

    line-height: 30px !important;
}

.swiper-pagination-bullet-active {
    background-color: transparent !important;
    color: #FFF !important;
}

.swiper-pagination-bullet:hover {
    border-bottom: 2px solid white;
} */

.bullet-name{
    color: red;
    background-color: red;
}